body {
    font-family: Georgia, sans-serif;
    margin: 16px 80px;
}

.heading {
    text-align: center;
    color: rgb(255, 166, 0);
    font-size: 48px;
}

.recipes {
    margin-top: 60px;
    margin-left:  auto;
    margin-right:  auto;
    text-align: center;
}

.recipe {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-right: 60px;
    margin-left: 60px;
    background-color: antiquewhite;
    padding: 12px; 
}

.recipe a {
    color: rgba(0, 0, 0, 0.929);
    text-decoration: none;   
}

.subheading {
    padding: 6px; 
    font-size: 24px;
    background-color: antiquewhite;
}

.description {
    font-weight: 600;
}

img {
    height: auto;
    width: 500px;
    /* Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lasagna-img,
#omelet-img {
    width: 400px;
}
